extensions:
    images: WebChemistry\Images\DI\Extension

services:
    mysharpen: MySharpen
    nette.latteFactory:
        setup:
            - setTempDirectory(null)

images:
    wwwDir: %wwwDir%
    settings:
        helpers:
            mySharpen: MySharpen()
